In [1]:
#remove arquivos SQltiecaso exista
import os
os.remove("escola.db") if os.path.exists("escolas.db") else None

In [2]:
#importando o modulo sqlite
import sqlite3

In [3]:
#cria a conexao com o banco de dados
#se o bamco não existir, ele é criado
conn = sqlite3.connect('escola.db')

In [4]:
type(conn)

sqlite3.Connection

In [6]:
#criando o cursos
cur = conn.cursor()

In [7]:
type(cur)

sqlite3.Cursor

In [8]:
#cria a tabela
sql_create = 'CREATE TABLE cursos '\
'(id integer primary key, '\
'titulo varchar(100), '\
'categoria varchar (140))'

In [9]:
#Executando a instrução aql no cursor
cur.execute(sql_create)

In [10]:
#criando dados
sql_insert = 'insert into cursos values (?, ?, ?)'

In [11]:
#Dados
recset = [(1000, 'ciencia de dados', 'Data Science'),
          (1001, 'Big data fundamentos', 'Big data'),
          (1002, 'Python fundamentos', 'analise de dados')]

In [12]:
#inserir dados nos registros
for rec in recset:
    cur.execute(sql_insert, rec)

In [13]:
#gravando a transacao
conn.commit()

In [14]:
cur.execute('select * from cursos')

In [15]:
sql_select = 'select * from cursos'

In [16]:
#seleciona os registros
cur.execute(sql_select)

In [17]:
dados = cur.fetchall()

In [18]:
#Mostra
for linha in dados:
    print('Curso Id: %d, Título: %s, Categoria: %s \n' % linha)

Curso Id: 1000, Título: ciencia de dados, Categoria: Data Science

Curso Id: 1001, Título: Big data fundamentos, Categoria: Big data

Curso Id: 1002, Título: Python fundamentos, Categoria: analise de dados

In [20]:
#completo

#novos registros
recset1 = [(1003, 'Gestao de dados', 'big data'),
           (1004, 'R funfdamentos', 'analise da dados')
    
]

#inserindo os registros
for rec in recset1:
    cur.execute(sql_insert, rec)
    
#Grava a transacao
conn.commit()

#Seleciona todos os registros
cur.execute('select * from cursos')

#mostra os dados
for rec in cur.fetchall():
    print('Id: %d, Titulo do curso: %s, Categoria: %s \n' % rec)

Id: 1000, Titulo do curso: ciencia de dados, Categoria: Data Science

Id: 1001, Titulo do curso: Big data fundamentos, Categoria: Big data

Id: 1002, Titulo do curso: Python fundamentos, Categoria: analise de dados

Id: 1003, Titulo do curso: Gestao de dados, Categoria: big data

Id: 1004, Titulo do curso: R funfdamentos, Categoria: analise da dados

In [22]:
#fechar a conexao
conn.close()