In [75]:
import sqlite3
import random
import time
import datetime

#criando a conexão com o banco de dados
conn = sqlite3.connect('dsa.db')

#criando o cursor
cur = conn.cursor()

#função para criar tabelas
def create_table():
    cur.execute('CREATE TABLE IF NOT EXISTS produtos(id INTEGER PRIMARY KEY AUTOINCREMENT, data TEXT, '\
                'prod_name TEXT, valor REAL)')
    
#funcao para inserir valores na tabela
def data_insert():
    cur.execute("INSERT INTO produtos VALUES( '2021-07-10 15:00:01', 'TECLADO', 110.5)")
    conn.commit()
    cur.close()
    conn.close()
    
#funcão de pesquisa
def data_select():
    cur.execute('SELECT * FROM produtos') #nesse ponto, os dados foram gravados no cursor
    for dados in cur.fetchall():
        #com os dados no cursor, eles podem ser acessados utilizando o fetchall
        print(dados)
    
#funcao de pesquisa de dados específicos - WHERE
def data_select_espf():
    cur.execute('SELECT * FROM produtos WHERE valor > 90.0')
    for dados in cur.fetchall():
        print (dados)
        
#funcao para retornar a coluna
def data_select_coluna():
    cur.execute('SELECT * FROM produtos')
    for coluna in cur.fetchall():
        print(coluna[3]) #assim retorna o valor da posição 3 dos vetores
        
#Update
def atualiza_dados():
    cur.execute("UPDATE produtos SET valor = 70.0 WHERE valor > 100")
    conn.commit()
    
#deleção
def remove_dados():
    cur.execute("DELETE FROM produtos WHERE valor = 60.0")
    conn.commit()

In [69]:
create_table()

In [76]:
data_insert()

OperationalError: table produtos has 4 columns but 3 values were supplied

In [34]:
data_select()

(1, '2021-07-11 06:01:10', 'TECLADO', 120.5)
(1001, '2021-07-10 06:52:10', 'mouse deluxe', 60.0)

In [35]:
data_select_espf()

(1, '2021-07-11 06:01:10', 'TECLADO', 120.5)

In [36]:
data_select_coluna()

120.5
60.0

In [48]:
atualiza_dados()

In [49]:
data_select()

(1, '2021-07-11 06:01:10', 'TECLADO', 70.0)
(1001, '2021-07-10 06:52:10', 'mouse deluxe', 60.0)

In [50]:
remove_dados()

In [51]:
data_select()

(1, '2021-07-11 06:01:10', 'TECLADO', 70.0)